body {
    font-size: 18px;
    min-width: 320px;
    position: relative;
    line-height: 1.65;
    overflow-x: hidden;

    background-color: #f7d8d4;
}


#loader {
    width: 200px;
	margin: auto;
	margin-top: 50px;
}
